@model Test1.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<p>@ViewBag.Name</p>
<p>Пароль:</p>


@if (Model.HasPassword)
            {
    @Html.ActionLink("Смена пароля", "ChangePassword")
}
else
{
    @Html.ActionLink("Создать", "SetPassword")
}
<h2>Ваши заказы</h2>
@foreach (var art in ViewBag.db)
{

    <div style="background-color: cornflowerblue; margin-top: 40px; width: 900px;">

        <p>Автор:<a href="/Home/ShowUser/@art.Customer.Id" name="Id">@art.Customer.Name</a></p>
        <p>Заказ размещен в : @art.DateStart</p>

        @foreach (var awt in art.ArticleWithTeg)
        {
            <p>@awt.Teg.Value</p>
        }

        <p>@art.ArticleWithTeg[0].Article.Info</p>
        @using (Html.BeginForm("ThrowArticle", "Home")) {
            <input type="hidden" value="@art.OrderId" name="Id">
            <input type="submit" value="Отказаться">
        }
    </div>
}

