@{

    ViewBag.Title = "Home Page";
}
@* Показываем заказы, которые еще никто не взял *@

@foreach (var art in ViewBag.db)
{
    if (art.EmailWorker == null)
    {
        <div style="margin-top: 40px; width: 900px;">

            <p>Автор:<a href="/Home/ShowUser/@art.Customer.Id" name="Id">@art.Customer.Name</a></p>
            <p>Заказ размещен в : @art.DateStart</p>

            @foreach (var awt in art.ArticleWithTeg)
            {
                <p>@awt.Teg.Value</p>
            }
            <p>@art.ArticleWithTeg[0].Article.Name</p>
            <p>@art.ArticleWithTeg[0].Article.Info</p>
            @using (Html.BeginForm("TakeArticle", "Home"))
            {
                <input type="hidden" value="@art.OrderId" name="OrderId">
                <input type="submit" value="Принять">
            }
        </div>


    }
}