@model Test1.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<p>@ViewBag.User.Name</p>
<p>@ViewBag.User.Surname</p>

<h2>Созданные заказы</h2>
@foreach (var art in ViewBag.Article)
{

    <div style="background-color: cornflowerblue; margin-top: 40px; width: 900px;">


        <p>Заказ размещен в : @art.DateStart</p>

        @foreach (var awt in art.ArticleWithTeg)
        {
            <p>@awt.Teg.Value</p>
        }
        <p>@art.ArticleWithTeg[0].Article.Name</p>
        <p>@art.ArticleWithTeg[0].Article.Info</p>
        @if (art.EmailWorker != "" && art.EmailWorker != null) {
                <p>Выполнил: @art.EmailWocer</p>
        }
    </div>
}

